@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --padding-counteiner: 100px 0;
    --color-title: #001A49;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    z-index: -1;
    object-fit: cover;
}
  /* .hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../Images/Background.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}   */


/* Nav */

.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav_title {
    font-weight: 300;
}

.nav_link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav_items {
    list-style: none;
}

.nav_links {
    color: #fff;
    text-decoration: none;
}

.nav_menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav_img {
    display: block;
    width: 30px;
}

.nav_close {
    display: var(--show, none);
}


/* Hero container */

.hero_container {
    /* max-width: 800px; */
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 300px;
}

.hero_title {
    font-size: 3rem;
}

.hero_paragraph {
    margin-bottom: 20px;
}

.moreinfo{
    display: inline-block;
    background-color: #fff;
    justify-self: left;
    color: #001A49;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}


/* About */

.about {
    text-align: center;
}


.question_about {
    color: var(--color-title);
    text-decoration: none;
    font-size: 30px;
    margin-bottom: 3084px;
}

.about_paragraph {
    text-align: center;
    width: 80%;
    margin: 40px auto;;
}


/* client */

.client{
    background-color: #85929E ;
}

.client_container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}

.client_body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}


.client_body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.client_img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}

.client_texts{
    max-width: 500px;
    text-align: justify;
}

.client_course{
    text-align: center;
    background-color: #fff;
    color: #1323EE;
    display: block;
    padding: 5px;
    width: 125px;
    border-radius: 50px;
}

.client_arrow{
    width: 90%;
    cursor: pointer;
}

/* Platforms */

.platforms{
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 80px;
}

.platform_text{
    text-align: center;
    color: var(--color-title);
    margin: 78px auto;
}

.platform_view{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.platform_img{
    width: 190px;
}


/* Question */

.question{
    text-align: center;
    color: var(--color-title);
    margin: 40px;
}

.questions_offer{
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 80px;
}

.questions_copy{
    text-align: center;
    width: 50%;
    margin: auto;
}

/* Slider */

.slider{
    width: 100%;
    overflow: hidden;
}

.slider-services{
    width: 100%;
    display: flex;
}

.services-slider{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}

.services-slider > img{
    width: 400px;
}

.services-slider > div{
    width: 40%;
}

.title_service{
    text-align: center;
    color: var(--color-title);
    margin: 100px;
}

.services-slider h2{
    font-weight: 300;
    text-align: justify;
    line-height: 25px;
}

.information {
    display: inline-block;
    background-color: #2091F9;
    justify-self: left;
    color: #fff;
    text-decoration: none;
    padding: 13px 20px;
    border-radius: 32px;
}


/* Footer */

.footer{
    background-color: #212F3D;
}

.footer_title{
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
    margin-top: 40px;
}

.footer_title, .footer_newsletter{
    color: #fff;
}


.footer_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 60px;
}

.nav--footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.nav_link--footer{
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}

.footer_inputs{
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.footer_input{
    background-color: #fff;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}

.footer_submit{
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px ;
    background-color: #2091F9;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.footer_copy{
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
}

.footer_copyright{
    font-weight: 300;
}

.footer_icons{
    margin-bottom: 10px;
}

.footer_img{
    width: 30px;
}


/* Media queries */

@media (max-width:800px){
    .nav_menu{
        display: block;
    }

    .nav_link--menu{
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav_link--show{
        --show: block;
        opacity:1 ;
        pointer-events: unset;
    }

    .nav_close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .hero_title{
        font-size: 2.5rem;
    }

    .client_container{
        grid-template-columns: 30px 1fr 30px;
    }

    .client_body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items:center ;
    }


    .client_img{
        width: 200px;
        height: 200px;
        
    }

    .platform_view{
        flex-wrap: wrap;;
    }

    .platform_img{
        justify-items: center;
        margin-bottom: 10px
    }

    .platform_icons{
        gap: 5em;
    }

    .services-slider > img{
        width: 250px;
    }

    .services-slider > div{
        width: 40%;
    }

    .services-slider h2{
        font-size: 23px;
    }

    .footer_container{
        flex-wrap: wrap;
    }

    .nav--footer{
        width: 100%;
        justify-items: center;
    }

    .nav_link--footer{
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
    }

    .footer_form{
        width: 100%;
        justify-content: space-evenly;
    }

    .footer_input{
        flex: 1;
    }

}


@media (max-width:600px){
    .hero_title{
        font-size: 2rem;
    }

    .hero_paragraph{
        font-size: 1rem;
    }

    .subtitle{
        font-size: 1.8rem;
    }

    .client{
        --padding-container: 60px 0;
    }

    .client_container{
        grid-template-columns: 28px 1fr 28px;
        gap: .3em;
    }

    .client_arrow{
        width: 100%;
    }

    .client_course{
        margin-top: 15px;
    }

    .platform_view{
        flex-wrap: wrap;;
    }

    .platform_img{
        justify-items: center;
        margin-bottom: 70px
    }

    .services-slider{
        flex-direction: column-reverse;
     }
 
     .services-slider > div{
         width: 70%;
     }

     .title_service{
        margin: 40px;
    }

    .footer_title{
        justify-self: start;
        margin-bottom: 15px;
    }

    .nav--footer{
        padding-bottom: 60px;
    }

    .nav_link--footer{
        justify-content: space-between;
    }

    .footer_inputs{
        flex-wrap: wrap;
    }

    .footer_input{
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 16px;
    }

    .footer_submit{
        margin-right: auto;
        margin-left: 0;
    }
}