@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root{
    --padding-counteiner: 100px 0;
    --color-title: #001A49;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-counteiner);
}

.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

 .hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background-image: linear-gradient(180deg, #0000008c, 0%, #0000008c 100%), url('../Images/Background.jpg');
    background-size: cover;
    z-index: -1;
} 

.nav{
    --padding-counteiner: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav_title{
    font-weight: 300;
}

.nav_items{
    list-style: none;
}

.nav_link{
    margin-left: auto;
    padding: 0;
}

.nav_menu{
    display: auto;
    cursor: pointer;
    display: none;
}

.nav_img{
    display: block;
    width: 30px;
}

.nav_close{
    display: var(--show, none);
}